server/src/main/mule/viajes360.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!-- Configuración del Listener HTTP -->
    <http:listener-config name="HTTP_Config" doc:name="HTTP Listener Config">
        <http:listener-connection host="0.0.0.0" port="8081"/>
        <http:listener-interceptors >
            <http:cors-interceptor >
                <http:origins >
                    <http:public-resource ></http:public-resource>
					<http:origin url="http://localhost:3000" accessControlMaxAge="30000" />
                
</http:origins>
            </http:cors-interceptor>
        </http:listener-interceptors>
    </http:listener-config>

    <!-- Flujo principal -->
    <flow name="api-reservas-flow">
        <http:listener doc:name="POST /reservar" config-ref="HTTP_Config" path="/reservar"/>

        <!-- Transformar el JSON de entrada -->
        <ee:transform doc:name="Transform JSON">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  cliente: payload.cliente,
  vuelo_destino: payload.vuelo_destino,
  hotel_nombre: payload.hotel_nombre,
  monto_total: payload.monto_total
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <try doc:name="Orquestación Principal">
            <!-- Reservas -->
            <flow-ref name="reservar-vuelo-flow" doc:name="Reservar Vuelo"/>
            <flow-ref name="reservar-hotel-flow" doc:name="Reservar Hotel"/>
            <flow-ref name="procesar-pago-flow" doc:name="Procesar Pago"/>

            <!-- Generar ID simple -->
            <set-variable variableName="reserva_id" value="#[(now() as String) ++ '-' ++ ((random() * 10000) as Number as String)]" doc:name="Generar ID Simple"/>

            <!-- Respuesta exitosa -->
            <set-payload value="#[%dw 2.0
output application/json
---
{
  success: true,
  message: 'Reserva completada con éxito',
  reserva_id: vars.reserva_id,
  detalles: {
    vuelo_confirmado: true,
    hotel_confirmado: true,
    pago_procesado: true
  }
}]"
            doc:name="Respuesta OK"/>

            <error-handler>
                <on-error-propagate enableNotifications="true" logException="true" doc:name="Compensación">
                    <flow-ref name="cancelar-vuelo-flow" doc:name="Cancelar Vuelo"/>
                    <flow-ref name="cancelar-hotel-flow" doc:name="Cancelar Hotel"/>
                    <set-variable variableName="httpStatus" value="500" doc:name="Set HTTP Status"/>
                    <set-payload value="#[%dw 2.0
output application/json
---
{
  success: false,
  message: 'Error al procesar pago. Se ha revertido la reserva.',
  detalles: {
    vuelo_confirmado: false,
    hotel_confirmado: false,
    pago_procesado: false
  }
}]"
                    doc:name="Respuesta Error"/>
                </on-error-propagate>
            </error-handler>
        </try>
    </flow>

    <!-- Simulación: Reservar Vuelo -->
    <flow name="reservar-vuelo-flow">
        <logger level="INFO" message="Reserva de vuelo a #[payload.vuelo_destino]" doc:name="Log Vuelo"/>
    </flow>

    <!-- Simulación: Reservar Hotel -->
    <flow name="reservar-hotel-flow">
        <logger level="INFO" message="Reserva de hotel #[payload.hotel_nombre]" doc:name="Log Hotel"/>
    </flow>

    <!-- Simulación: Procesar Pago -->
    <flow name="procesar-pago-flow">
        <choice doc:name="Validar Pago">
            <when expression="#[payload.monto_total > 1000]">
                <raise-error type="VALIDATION:MONTO_EXCESIVO" description="Pago fallido: monto > 1000"/>
            </when>
            <otherwise>
                <logger level="INFO" message="Pago de #[payload.monto_total] procesado correctamente." doc:name="Log Pago"/>
            </otherwise>
        </choice>
    </flow>

    <!-- Simulación: Cancelar Vuelo -->
    <flow name="cancelar-vuelo-flow">
        <logger level="WARN" message="Cancelando reserva de vuelo a #[payload.vuelo_destino]" doc:name="Rollback Vuelo"/>
    </flow>

    <!-- Simulación: Cancelar Hotel -->
    <flow name="cancelar-hotel-flow">
        <logger level="WARN" message="Cancelando reserva en hotel #[payload.hotel_nombre]" doc:name="Rollback Hotel"/>
    </flow>

</mule>